.add_post {
    background-color: white;
    padding: 5px;
    margin: 15px;
    position : relative;
  }

.input {
    width: 300px;
    margin: 20px;
    height: 60px;
    margin-bottom: 5px;
    position: relative;
    vertical-align: top;
  }

.post_button {
background-color: lightgrey;
color : black;
border: none;
font: 'Poppins';
font-size: 15px;
font-weight:400;
position: relative;
right : -125px;
border-radius: 0px;
}