
.Post {
    color: black;
    background-color: #E8DBC4;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.25em 1em;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
.votes {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post_info {
  width: 80%;
  text-align: left;
}
  
img {
  max-width: 100%;
}

.Upvote_downvote_Button {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
}