
.Post {
    color: black;
    background-color: #E8DBC4;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.25em 1em;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
.post_info {
  width: 80%;
  text-align: left;
}

.votes {
  flex-direction: column;
  display: flex;
  vertical-align:middle;
}
  
img {
  max-width: 100%;
}

Button {
  width: 50%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}