.App-header {
  /* background-color: #788585; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3rem 5rem 0rem 5rem;
}

.Dashboard {
  background-color: #788585;
}

.AppMenu {
  flex-grow: 1;
  width: 25%;
}

.AppContent {
  flex-grow: 4;
}

.Button {
  color: #747776;
  border: 2px solid ;
  background-color: #E8EDEB;
  font-size: 0.6em;
  margin: 0.5em;
  padding: 0.25em 1em;
  border-radius: 3px;
}
