.Login {
  width: 40%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(94, 89, 155);
  border-radius: 5%;
  background-color: white;
}

.form-group {
  padding: 6px;
}

#app {
  background-color: rgb(94, 89, 155);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
