.Login {
  width: 40%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #788585;
  border-radius: 3px;
  background-color: #D2DAD8;
}

.form-group {
  padding: 6px;
}

#app {
  background-color: #788585;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
