.Register {
  width: 40%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 3px;
  background-color: #D2DAD8;
}

.form-group {
  padding: 6px;
}

.app {
  background-color: #788585;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#register-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
