.Search {
    position: relative;
    background-color: #788585;
    flex-direction: column;
    height: 1000px;
    width: 30%;
    align-items: center;
}

.SearchContent {
    background-color: #788585;
}


.Post {
    background-color: #D2DAD8;
    color: #37312F;
    border: 5px;
    border-color: black;
    margin: auto;
    padding: 0.25em 1em;
    border-radius: 3px;
    width : 50%;
  }

  .post_text {
    font-size: x-large;
  }

  .name {
    font-size: medium;
  }

background-color: #788585;